@import "tailwindcss";

@font-face {
    font-family: "myFont";
    src: url(/public/fonts/Valty\ DEMO.otf)
}

@theme {
    --font-valty: myFont;
}

.loader {
    position: relative;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #ff3d00;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: spin 1s linear infinite;
}

.loader:after {
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .25em 0 0 0 currentColor;
    }

    12% {
        box-shadow: .25em .25em 0 0 currentColor;
    }

    25% {
        box-shadow: 0 .25em 0 0 currentColor;
    }

    37% {
        box-shadow: -.25em .25em 0 0 currentColor;
    }

    50% {
        box-shadow: -.25em 0 0 0 currentColor;
    }

    62% {
        box-shadow: -.25em -.25em 0 0 currentColor;
    }

    75% {
        box-shadow: 0 -.25em 0 0 currentColor;
    }

    87% {
        box-shadow: .25em -.25em 0 0 currentColor;
    }
}